  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color:#333;
}

 .company-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:60px;
  padding:60px 8%;
  background:#fff;
  border-radius: 12px;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
  margin: 50px auto;
  
}

.text-content {
  flex: 1;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-content img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}
h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}

p {
  color: #444;
  margin-bottom: 10px;
}

.features {
  margin: 25px 0;
  display: flex;
  flex-wrap:wrap;
  gap: 16px;
  justify-content: flex-start;
}
.feature {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 48%;
}
.features .feature:nth-child(3){
    width:100%;
}

.icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 28px;
  height: 28px;
}
.blue {
  background-color: #e9f5ff;
}
.green {
  background-color: #eaffef;
}
.lightblue {
  background-color: #f0f7ff;
}
.feature h4 {
  font-size: 15px;
  font-weight: 600;
  color: #222;
}
.feature p {
  font-size: 13px;
  color: #666;
}
.btn {
  background-color: #4ecb8c;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}
.btn:hover {
  background-color: #3eb87b;
  transform: scale(1.05);
}
#true-section {
  text-align: center;
  padding: 60px 8%;
  margin: 50px auto;
  margin-top:-30px;
  max-width: 1200px;
}

#true-section h1 {
  margin-top: -30px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  color:black;
}

.true-cards-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 0 auto;
  width: 90%;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.true-cards aside {
  background-color: #ffffff;
  border-radius: 12px;
  width:300;
  padding: 25px;
  text-align: center;
  border:1px solid #f0f0f0;
  box-shadow: 0 4px 12px rgba(200, 200, 200, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-shrink: 0;
}

.true-cards aside:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 2opx rgba(180, 180, 180, 0.35);
}

.true-cards img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 8px;
}

.true-cards h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.true-cards p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}
.products-wrapper{
     width:90%;
     max-width: 1200px;
     margin: 50px auto;
}
.product-section {
  text-align: center;
  padding: 40px 5%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(230, 230, 230, 0.6);
  transition: transform 0.03s ease, box-shadow 0.3s ease;
  margin: 0 auto;
  max-width: 1000px;
}

.product-section p {
  color: #666;
  font-size: 15px;
  margin-bottom: 30px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product-card {
  background:#ffffff;
  border-radius: 12px;
  width: 23%;
  margin-top: 50px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 12px rgba(230, 230, 230, 0.6);
  transition: transform 0.03s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(200, 200, 200, 0.4);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  height: 160px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.product-card a {
  color: #2f80ed;
  text-decoration: none;
  font-weight: 500;
}

.view-btn {
  margin-top: 25px;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  background-color: #3eb87b;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.view-btn:hover {
           background-color:#34a56a;
           transform: scale(1.05);
}